/* Dark mode styles */
.dark-mode {
    background-color: #222;
    color: white;
}

.dark-mode header {
    background-color: #111;
}

.dark-mode nav ul li a {
    color: #ddd;
}

.dark-mode section {
    background-color: #444;
}

.dark-mode footer {
    background-color: #111;
}